<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


<div class="bigDiv">

  <section class="title">
    <h1>About me</h1>
    <a href="mailto:terriodonovan@outlook.com">
    <h4>Terri O'Donovan</h4></a>
  </section>

  <section class="center">
      <div class="container">
        <h3>MMP Front-end Web Development</h3> 
        <h5>I followed the program to learn how to code. My aim has been achieved and I hope that is visible in this Capstone project.</h5>
        <h5>My next step is to work on my portfolio, along the way I've made a few projects which I would like to present here.</h5>
      </div>
  </section>

  <section>
    <div class="container">
      <div class="flexbox-sm flexbox-sm-row-reverse">
        <div class="col-1-3 pull-right-sm">
          <a href="https://on3.synology.me/terri/1/bijenkaart/bijenkaart.html">
          <div class="frame frame-primary mask mask-primary"><img src="beehiveMap.jpg"></div>
          </a>
        </div>
        <div class="col-2-3 paddedText">
            <h3>Beehive Map</h3> 
            <h5>As a project I made a map for my local beekeeping association where they can register all the hives in their area</h5>
            <h5>consectetur adipiscing elit. Nam id ante sem. Pellentesque varius, ligula a vestibulum convallis, nulla magna tempus justo, eu lacinia urna mauris a magna. Praesent accumsan, ipsum sed imperdiet egestas, ligula orci consectetur augue, vel lacinia quam ligula eu lacus. Pellentesque consectetur non risus nec condimentum. Curabitur ante ligula, aliquet a lobortis in, pulvinar non magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent convallis scelerisque accumsan. Fusce malesuada sollicitudin porttitor</h5>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="flexbox-sm">
        <div class="col-1-3 pull-left-sm">
            <a href="https://www.bijenverenigingutrecht.nl/pagina/meldpunt-bijenzwerm"> 
            <div class="frame frame-primary mask mask-primary">
                <img src="beeSwarm.jpg">
              </div>
            </a>
        </div>
        <div class="col-2-3 paddedText">
            <h3>Website design</h3> 
            <h5>As part of the Communication group in my local beekeeping association I have worked on the new website</h5>
            <h5>consectetur adipiscing elit. Nam id ante sem. Pellentesque varius, ligula a vestibulum convallis, nulla magna tempus justo, eu lacinia urna mauris a magna. Praesent accumsan, ipsum sed imperdiet egestas, ligula orci consectetur augue, vel lacinia quam ligula eu lacus. Pellentesque consectetur non risus nec condimentum. Curabitur ante ligula, aliquet a lobortis in, pulvinar non magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent convallis scelerisque accumsan. Fusce malesuada sollicitudin porttitor</h5>
        </div>            
      </div>
    </div>
  </section>

  <div class="row">

    <div class="mediaBlock">
      <div class="mediaBody">
        <h4>Beehive Map</h4>
        <p>As a project I made a map for my local beekeeping association where they can register all the hives in their area.</p>
        <a href="https://on3.synology.me/terri/1/bijenkaart/bijenkaart.html">
          <img src="beehiveMap.jpg" alt="beehive map">
        </a>
      </div>
    </div>

    <div class="mediaBlock">
      <div class="mediaBody">
        <h4>Webdesigner</h4>
        <p>As part of the Communication group in my local beekeeping association I have worked on the new website</p>
        <img src="beeSwarm.jpg" alt="bee swarm">
      </div>
    </div>

    <div class="mediaBlock">
      <div class="mediaBody">
        <h4>Beehive Map</h4>
        <p>As a project I made a map for my local beekeeping association where they can register all the hives in their area.</p>
        <img src="beehiveMap.jpg" alt="beehive map">
      </div>
    </div>

    <div class="mediaBlock">
      <div class="mediaBody">
        <h4>Website design</h4>
        <p>As part of the Communication group in my local beekeeping association I have worked on the new website</p>
        <img src="beeSwarm.jpg" alt="bee swarm">
      </div>
    </div>
  
  </div>

</div>